<!--The content below is only a placeholder and can be replaced.-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" id ="colorr">Market Task</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="equipment">Manage Equipments</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="employee">Manage Employees</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="project">Projects</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>