hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
} 

#add{
	background-color:  Lavender;
	margin-right: 75%;
	margin-top:  -9%;
	left:  0;
	font-style: italic;
	color:black;
}