
<!--Add Equipment -->
<button type="button" id="add" class="btn btn-info btn-lg" (click)="addProject()">Add Project</button>
<div class="backdrop" [ngStyle]="{'display':display}"></div>


<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">


  <div class="modal-dialog" role="document">


    <div class="modal-content">


      <div class="modal-header">


        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>


        <h4 class="modal-title">Add Project</h4>


      </div>


      <div class="modal-body">


         Name:<br>
         <input type="text" name="name" (change)="onChangeName($event.target.value)">
         <br>
         From:<br>
         <input type="date" name="from" (change)="onChangeFrom($event.target.value)">
         <br>
         To:<br>
         <input type="date" name="to" (change)="onChangeTo($event.target.value)">


      </div>


      <div class="modal-footer">

      	<button type="button" id="bt" class="btn btn-default" (click)="saveData()" >Save</button>
        <button type="button" id="bt" class="btn btn-default" (click)="onCloseHandled()" >Close</button>


      </div>


    </div>


  </div>


</div>
<!-- last in add Project -->
